---
---

@import "{{ site.theme }}";

@fontface {
  font-family: Garamond;
  src: url("../assets/fonts/Garamond.tff");
}

body {
  background-color: #e4d6ba;
  color: #29221E;
  font-family: 'EB Garamond', serif;
}

/* Backup colors 
  background-color: #DDD8CF;
  background-color: #436D91;
  background-color: #DDD8CF;
  background-color: #264F73;
  background-color: #193A4F;
  background-color: #264456;
  background-color: #D6DEDF;
  color: #436D91;
  color: #DDD8CF;
  color: #264F73;
  color: #10324F;
  color: #63585E;
  color: #2A475A;
  color: #193A4F;
  color: black;
  color: #33312F;
  color: #021F3B;
  color: #2E2622;
  color: #29221E;
*/

.post-title {
  font-family: Gill Sans, sans-serif;
}

.post-content {
  font-size: 1.1rem;
}